.Personajes , .Episodios, .Central{
  text-align: center;
  align-content: center;
  align-items: center;
  background-repeat: repeat;
  background-size: contain;
  margin:0;
  display: flex;
  flex-direction: column;
}
.Grid{
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%
}
.Central{
  min-height:100%;
  min-width: 100%;
  background-color: #003333;
  background-image: url("../../resources/fondo-02.svg");
}
.Personajes, .Episodios {
  flex-direction: row;
  align-items: flex-start;
}

.Personajes-logo, .Episodios-logo {
  height: 40vmin;
  pointer-events: none;
}
.episodioList{
  color: white;
}

.Personaje, .Episodio{
  background-color: #003130;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  border-radius: 5%;
}
.Personaje{
  margin: 5px;
  min-width: 255px;

}
.Personaje:hover{
  background-color: #003d3c;
  cursor: pointer;;
}
.childGrid:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
    transition: 450ms all;
    
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: transparent;
}
.gridAlterColor{
  background-color: #004c4a;
}
.img-Character{
  border-radius: 100%;
  border-bottom: #d3d600;
  background: #d3d600;
  width: 80px;
  height: 80px;
  top: 40px; left: 40px;
  position: ab;
}
.btn-desplazamiento{
  width: 70px;
  height: 200px;
  border-style: double;
  border-color: #003333;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #003333;
  background-size: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.btn-desplazamiento:hover{
  background-color: #004c4a;
}
#atras{
  background-image: url(../../resources/btn-atras.png);
}
#adelante{
  background-image: url(../../resources/btn-adelante.png);
}
.Character-name{
  display: block;
    font-size: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: white;
    font-family: 'Courier New', Courier;
}
.gridAlterColor, .grid-item {
  font-size: 16px;
  color: white;
  margin: 0;
  height: 42px;
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
}
.subcard{
  margin: 5%;
}
.Personajes-header, .Episodios-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Personajes-link, .Episodios-link {
  color: #61dafb;
}
.Titulo{
  color: #ddf7f7;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: bold;
}
